table ,td	{
	vertical-align: 0;
	height: 600px;
	width: 1500px;
	border: 1px solid blue;	
    border-collapse: collapse;
    vertical-align: baseline;
}


.mainDiv{
	height: 600px;
	width: 1500px;
}

form , h3 {
	margin-left:  20px;
}
h3 , h1 {
	color:red;
}


.teachersDiv{
	overflow-y: scroll;
	height : 300px;
	width: 500px;
}